# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
front-end/hello-world-appsync-app/dist/*

# dependencies
front-end/hello-world-appsync-app/node_modules/*
.editorconfig
