.hwa-toolbar {
    height:10vh;
    background:#324657;
}

.hwa-spacer {
    flex: 1 1 auto;
}

.hwa-sidenav {
    background-color: #0f273f;
}

.hwa-sidenav-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:80vh;
    background-color:white;
}

.hwa-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height:10vh;
    background: #324657;
}

.hwa-footer-item {
    color: white;
}