<mat-toolbar class="hwa-toolbar">
  <button mat-icon-button>
    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
  </button>
  <span> {{ app_name }} </span>
  <span class="hwa-spacer"></span>
  <button *ngFor="let icon of header_icons" mat-icon-button>
    <mat-icon>{{ icon }}</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav class="hwa-sidenav">
    <mat-nav-list>
      <a *ngFor="let link of sidebar_links" mat-list-item [routerLink]="[link.url]"> {{ link.label }} </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="hwa-sidenav-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<footer class="hwa-footer">
  <span class="hwa-footer-item"> © Sara Prager </span>
  <a class="hwa-footer-item" href="{{ source_code_link }}">Click here to view the source code</a>
</footer>